<h2>You have another story?</h2>
<p><a href="http://pieceofmindproject.com/">get a tile!</a> | <a href="/my_story/new">I got it</a></p>

<h2>Where is my tile?</h2>
<p><a href="#" id="find_my_tile" data-tile="<%= [my_tile.x,my_tile.y,my_tile.shape_kind].join(',') %>">click here</a></p>