<h3>You have another story?</h3>
<p><a href="http://pieceofmindproject.com/">get a tile!</a> | <a href="/my_story/new">I got it</a></p>

<h3>Where is my tile?</h3>
<p><a href="#" id="find_my_tile" data-tile="<%= [my_tile.x,my_tile.y,my_tile.shape_kind].join(',') %>">click here</a></p>

<h3>Join the conversation</h3>
<p><a href="http://www.facebook.com/home.php?sk=group_229194543775680">facebook page</a></p>