<h3>Have a story?</h3>
<p><a href="http://pieceofmindproject.com/">get a tile!</a></p>

<h3>Own a tile?</h3>
<p><a href="/my_story">tell your story!</a></p>

<h3>Join the conversation</h3>
<p><a href="http://www.facebook.com/home.php?sk=group_229194543775680">facebook page</a></p>