<div id="container" class="name">
  <script>
    piles_flat_array = new Array(<%= @image.piles_as_string%>);
  </script>

  <canvas id="canvas" width="<%= @image.width * 20 %>" height="<%= @image.height * 20 %>"></canvas>
</div><!-- /container.name -->
