<div id="container" class="name">
  <script>
    piles_flat_array = [<%= @image.piles_as_string%>];
  </script>

  <canvas id="canvas" width="<%= @image.width * 10 %>" height="<%= @image.height * 10 %>"></canvas>
</div><!-- /container.name -->
