<div id="container" class="name">
  <script>
    image_json = <%= @image.to_json(:include => :piles).html_safe %>;
  </script>

  <canvas id="canvas" width="<%= @image.width * 10 %>" height="<%= @image.height * 10 %>"></canvas>
</div><!-- /container.name -->