<div id="container" class="name">
  <script>
    piles_flat_array = new Array(<%= @image.piles_as_string%>);
  </script>

  <canvas id="canvas" width="<%= @image.width * 100 %>" height="<%= @image.height * 100 %>"></canvas>
</div><!-- /container.name -->
<div id="my_story">
  <h2>Have a story?</h2>
  <p><a href="http://kickstarter.com">get a pile!</a></p>
  
  <h2>Own a pile?</h2>
  <p><a href="/my_story">tell your story!</a></p>
</div><!-- /my_story -->