<div id="container" class="name">
  <script>
    piles_flat_array = new Array(<%= @image.piles_as_string%>);
  </script>

  <canvas id="canvas" width="<%= @image.width * 100 %>" height="<%= @image.height * 100 %>"></canvas>
</div><!-- /container.name -->
<div id="my_story">
  <%= render my_tile ? 'existing' : 'new' %>
</div><!-- /my_story -->

<div id="controls">
  <a href="#" id="zoom_in">+</a>
  <a href="#" id="zoom_out">-</a>
</div><!-- /controls -->