<%= form_tag do %>
  <p>
    <label for="pile-id">
      <strong>What's your pile id?</strong>
    </label><br />
    <input type="text" name="pile_id" value="<%= params[:pile_id] %>" />
  </p>
  <% if params[:pile_id] && @story.nil? %>
  <p>Sorry, Story could not by found.</p>
  <% end %>
<% end %>